body {
  background-color: #008cff
}

h2 {
  text-align: center;
  color: #ffe53d;
  padding: 10px;
}

h5 {
  text-align: center;
  color: black;
}

.btn {
    margin-left: 10px;
}

.main {
  display: flex;
  height: auto
}

.img-container {
  margin: 50px;
  padding: 20px;
  float:left;
  width: 100%;
}

.form-container {
  margin: 50px;
  padding: 20px;
  width: 100%;
  background-color: #efefef;
  float:left
}

@media (max-width: 700px) {
	.form-container {
		display: block;
	}

	.img-container  {
		display: none;
	}
  
  .title {
    display: block;
  }
}