body {
  background-color: #008cff
}

h2 {
  text-align: center;
  color: #ffe53d;
  padding: 10px;
}

h5 {
  text-align: center;
  color: black;
}

video {
  max-width: 100%;
  height: auto;
}

.navbar {
  display: flex;
}

.navbar a:hover {
  background-color: #ddd;
  color: #ffe53d
}

.navbar button:hover {
  background-color: #ddd;
  color: #ffe53d
}

.btn {
    margin-left: 10px;
}

.main {
  display: flex;
  flex-direction: row;
}

.img-container {
  flex: 55%;
  margin: 50px;
  padding: 20px;
  float: left;
}

.form-container {
  flex: 35%;
  margin: 50px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #efefef;
  float:left;
}


@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }
  
  .navbar {
    width: auto;
  }
  
  video {
    max-width: 100%;
    height: auto;
  }
}


@media (max-width: 400px) {
  video  {
		display: none;
	}
  
  .img-container {
    margin-bottom: 10px;
  }
  
  .form-container {
    margin-top: 10px;
}